body {
    margin: 0;
    /*overflow-x: hidden;*/
} 

.card {
    position: relative;
    width:auto;
    height: 88rem;
   /*background-image: url('https://i.pinimg.com/originals/26/c2/72/26c272aa6e3b3dc865ab06d99f60109a.jpg');*/
    background-image: url('https://img.wattpad.com/cf0e5479c2a5960ddee168005e32758f9e8beb3b/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4b413356335153536638484d68773d3d2d313333353431323437362e313735366531386538373136353738643239303934373534353738302e6a7067?s=fit&w=720&h=720');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 98%;
    border-radius: 0.40rem;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    font-family: "Roboto";
    background-color: black;
}

.card:affter{
    position: absolute;
    content: "";
    width:100%;
    height: 100%;
    background: #0a0a0a26;
    top:0;
    left:0;   
}


.inner{
    position: relative;
    z-index: 2;
    height: 100%;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list{
    display: flex;
}

nav a{
    display: block;
    color:#fff;
    padding-top: 0.88rem;
    padding-bottom: 0.85rem;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

nav li{
    width: calc(100%/8);
    justify-content: center;
    background: #111;
    display:inline-flex;
}

nav li:hover{
    background: #333;

}

.nav li.current {
    background: #292929; 
}


/*.body{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/

.body {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.content {
    display: block;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 600;
    font-size: 4rem;   
    margin: 3rem auto 2rem auto;
    
    color: #fff;
    padding-right: 1.25rem;
    display: block;
    text-align: center;
}


.info{
    position: relative;
    color: black;
    padding: 20px 30px;
    opacity: 0.85;
    background-color: white;
    font-weight: 600;
    border-radius: 0.40rem;
}


.slug{
    margin-bottom: 1.25rem;
    position:relative;
}

.btn{
    display: inline-block;
    padding: 0.65rem 1.5rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    background: #868EBB;
    box-sizing: 2.18rem;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.btn:hover{
    background: #868EBB;
    box-shadow: 0 14px 28px #00000030, 0 10px 10px #0000003b;

}

.rating{
    margin-top: 2rem;
}


.info{
    background-color: white;
    font-weight: 600;
    border-radius: 0.40rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: black;
    color: #fff;
}